<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LoopBack example access control</title>
</head>

<body>
    请直接复制链接，并在浏览器中打开，以激活账号
    <strong>
        <%= verifyHref %>
    </strong>
</body>

</html>